.product-item-container {
  margin-top: 30px !important;
}

.product-item-title {
  font-size: 25px;
  margin-top: 10px !important;
  margin-left: 10px;
}
.product-item-price {
  color: #e9425e;
  font-size: 20px;
  margin-left: 10px;
}
.product-item-size {
  font-size: 15px;
  margin-left: 10px;
  font-weight: 600;
}
.product-item-size-dropdown {
  margin-left: 10px !important;
  margin-bottom: 30px !important;
}
.product-item-color {
  font-size: 15px;
  margin-left: 10px;
  font-weight: 600;
}
.product-item-categorycolor {
  margin-left: 10px;
}
.product-item-qty {
  margin-left: 10px;
  margin-bottom: 30px !important;
}
.product-item-description {
  font-size: 18px;
  text-align: left;
  margin-top: 10px !important;
}
.product-item-description-p {
  font-size: 15px;
  padding-bottom: 10px;
}
