:root {
  --primary: #fff;
}

.btn,
button {
  padding: 8px 20px;
  border-radius: 6px;
  outline: none;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
}

.btn--primary {
  background-color: $color-primary;
  color: $color-white;
  border: 1px solid var(--primary);
}

.btn--outline {
  background-color: transparent;
  color: #fff;
  padding: 8px 20px;
  border: 1px solid var(--primary);
  transition: all 0.3s ease-out;
}

.btn--medium {
  padding: 8px 20px;
  font-size: 18px;
}

.btn--large {
  padding: 12px 26px;
  font-size: 20px;
}

.btn--large:hover,
.btn--medium:hover {
  transition: all 0.3s ease-out;
  background: #fff;
  color: #242424;
  transition: 250ms;
}

.btn-block {
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  height: 47px;
  margin: 5px auto;
}
.btn-block--contained{
  background-color: $color-primary;
  color: $color-white;
}

.btn-block--outline{
  border: $color-primary solid thin;
}