.sidebar-wrapper {
    width: 270px;
    height: 100vh;
    display: flex;
    flex-shrink: 0;
    background-color: #ffffff;
    flex-direction: column;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
    margin: 3rem 2rem 0 3rem;
}

.menu-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 45px 0;
    overflow-y: auto;
}

.nav-link {
    width: 100%;
    outline: 0;
    color: #000000;
    display: flex;
    align-items: center;
    padding: 20px 55px 20px 30px;
    text-decoration: none;
    transition: 0.15s ease-in-out;
}


#curved-corner-topright:before {
    content: "";
    display: block;
    width: 100%;
    height: 200%;
    position: absolute;
    border-radius: 50%;
}

#curved-corner-bottomright:before {
    bottom: 0;
    right: 0;
    box-shadow: 50px 50px 0 0 red;
}