@import '../Vendors/reset-css';
@import url('http://fonts.cdnfonts.com/css/mulish');

html {
//   font-size: 62.5%;// 1rem == 10px; 10px/16px = 62.5%
}

*, *::after, *::before{
  box-sizing: border-box;
}

body {
  font-family: Mulish sans-serif;
}

a {
    text-decoration: none;
  }

  input{
    outline: none;
  }